<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DSConverter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
    <userSettings>
        <DSConverter.Properties.Settings>
            <setting name="Url" serializeAs="String">
                <value>https://de162.die-staemme.de/game.php?village=3870&amp;screen=place</value>
            </setting>
            <setting name="LkavCount" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="SpyCount" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PauseTime" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="HomeCoordinate" serializeAs="String">
                <value>559|470</value>
            </setting>
        </DSConverter.Properties.Settings>
    </userSettings>
</configuration>
